.row {
    width: 60%;
    margin-left: 20%;
  }
  .fonts {
    font-family: Montserrat, sans-serif;
    font-weight: 500;
  }
  .fonts2 {
    font-family: "Fraunces";
    font-size: 40px;
    font-weight: 700;
  }
  .attribution {
    font-size: 11px;
    text-align: center;
  }
  .attribution a {
    color: hsl(228, 45%, 44%);
  }
  .bt {
    background-color: hsl(158, 36%, 37%);
    color: white;
  }
  .bt:hover {
    background-color: hsl(212, 21%, 14%);
    color: white;
  }
  .left-col {
    background: url("images/image-product-desktop.jpg");
    background-size: cover;
    border-radius: 10px 0px 0px 10px;
  }
  .img-vis {
    display: none;
  }
  @media screen and (max-width: 600px) {
    .row {
      width: 100%;
      margin-left: 0%;
    }
    .left-col {
      display: none;
    }
    .img-vis {
      display: block;
    }
  }